/**=====================
     dark layout css start
==========================**/
body {
    transition: 0.5s;
    &.dark-layout {
        transition: 0.5s;
        background-color: $dark-bg;
        color: $white;
        h2, h3 {
            color: $white;
        }
        .dropdown {
            .dropdown-menu {
                background-color: $dark-bg2;
                border-color: $dark-border-color;
                .dropdown-item {
                    &:active, .active {
                        background-color: $dark-bg;
                        color: rgba($white, 0.7);
                    }
                }
            }
            .dropdown-toggle {
                i {
                    color: rgba($white, 0.8);
                }
            }
        }
        .dropdown-item {
            color: rgba($white, 0.5);
            &:hover,  &:focus {
                background-color: $dark-bg;
            }
        }
        .bg-light {
            background-color: $dark-color !important;
        }
        .modal-content {
            background-color: $dark-bg;
        }
        .shadow-cls {
            box-shadow: 3.346px 3.716px 22.5px $dark-border-color;
        }
        .nav-tabs {
            border-bottom: 1px solid $dark-border-color;
            .nav-link.active, .nav-item.show .nav-link {
                background-color: transparent;
            }
        }
        
        // form css
        form {
            label {
                color: rgba($white, 0.8);
            }
        }
        .form-control {
            background-color: $dark-bg2;
            border-color: $dark-border-color;
            color: rgba($white, 0.8);
            &::placeholder {
                color: rgba($white, 0.4);
            }
        }
        // sidebar & filter css
        .left-sidebar {
            .dropdown {
                border-color: $dark-border-color;
            }
        }
        .left-sidebar, .blog-sidebar {
            background: $dark-bg2;
        }
        // faq css
        .card {
            background-color: $dark-bg;
            box-shadow: 3.346px 3.716px 22.5px $dark-border-color;
        }
        .card-header {
            background-color: $dark-bg2;
        }
        .accordion {
            .card-header {
                .card-link {
                    color: rgba($white, 0.8);
                    &::after {
                        color: rgba($white, 0.8);
                    }
                }
            }
            .card-body {
                border-top: 1px solid $dark-border-color;
            }
        }
        // responsive css
        @media (max-width: 991px) {
            // document css
            .navbar-collapse {
                background-color: $dark-bg3;
            }
            .menu .nav-item, .navbar_fixed.menu_one .menu .nav-item {
                border-bottom-color: $dark-border-color;
            }
            .navbar {
                .nav-right {
                    .toggle-sidebar {
                        color: rgba($white, 0.8);
                    }
                }
            }
            .document-main {
                .left-sidebar {
                    background-color: $brown-color !important;
                }
            }
        }
        // document css
        .change-log-content {
            .log-version-info {
                .log-line {
                    background: $dark-border-color;
                }
            }
        }
        .navbar {
            background: $brown-color;
            border-bottom: 1px solid $dark-border-color;
            .collapse {
                border-right-color: $dark-border-color;
            }
        }
        .nav-sidebar {
            > .nav-item {
                .title {
                    background-color: $dark-bg3;
                    color: rgba($white, 0.8);
                }
            }
        }
        .nav-link {
            color: rgba($white, 0.8);
            &.active {
                color: $primary-color;
            }
        }
        .quick-links {
            h5 {
                background-color: $dark-bg3;
            }
        }
        .direct {
            .nav-link {
                background-color: $dark-bg3;
                color: rgba($white, 0.8);
            }
        }
        .parent-title {
            background-color: $dark-bg3;
            color: rgba($white, 0.8);
        }
        .menu {
            > .nav-item {
                > .nav-link {
                    color: rgba($white, 0.8);
                }
                &.active, &:hover {
                    .nav-link {
                        color: $primary-color;
                    }
                }
            }
        }
        .main-title {
            color: $white;
        }
        h1, h2, h3, h4, h5, h6 {
            color: rgba($white, 0.9);
        }
        .document-main {
            .left-sidebar {
                background-color: transparent;
            }
            .card {
                background-color: $brown-color;
                box-shadow: rgba($dark-bg2, 0.05) 0px 0px 37px;
            }
            .table {
                color: rgba($white, 0.8);
                th, td {
                    border-top-color: $dark-border-color;
                }
            }
            .nav-tabs {
                .nav-link.active, .nav-item.show .nav-link {
                    color: rgba($white, 0.9);
                    border-color: $dark-border-color $dark-border-color $dark-bg2;
                }
                .nav-link {
                    &:hover, &:focus {
                        border-color: $dark-border-color $dark-border-color $dark-bg2;
                    }
                }
            }
            pre[class*=language-] {
                background: $dark-bg;
                border-color: $dark-border-color;
            }
            code[class*=language-] {
                text-shadow: 0 1px $dark-bg2;
                color: rgba($white, 0.8);
            }
            .code-box-copy__btn {
                background-color: $dark-bg2;
                color: rgba($white, 0.8);
                border-color: $dark-border-color;
                &:hover {
                    background-color: $dark-bg;
                }
            }
            .language-css, .style {
                .token {
                    &.string {
                        background-color: rgba($dark-bg,0.5);
                    }
                }
            }
            .token {
                &.entity, &.operator, &.url {
                    background: rgba($dark-bg,0.5);
                }
            }
            .infoBox {
                .marker-detail, h6 {
                    color: $theme-font-color;
                }
            }
        }
        .component-doc {
            .blog-1 {
                .blog-box {
                    background-color: $dark-bg;
                    .blog-content {
                        background-color: $dark-bg;
                    }
                }
            }
            .about-section {
                .about-wrap {
                    .about-content {
                        .our-details {
                            background-color: $dark-bg;
                        }
                    }
                }
            }
            .service-section {
                .property-service {
                    > div {
                        .service-box {
                            background-color: $dark-bg;
                        }
                    }
                }
            }
            .property-section {
                .property-box {
                    background-color: $dark-bg;
                }
            }
        }
        .main-table-sec {
            .table-wrapper {
                .table-scroll {
                    table {
                        tr {
                            &:first-child {
                                border-bottom-color: $dark-border-color;
                                span {
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }
        .page-footer {
            .page-changes-summary {
                border-top-color: $dark-border-color;
            }
        }
        .navbar-toggler {
            i {
                color: rgba($white, 0.8);
            }
        }
    }
}
/**=====================
     dark layout css end
==========================**/