/**=====================
     dark layout css start
==========================**/
body {
    transition: 0.5s;
    &.dark-layout {
        transition: 0.5s;
        background-color: $dark-bg;
        color: $white;
        h2, h3 {
            color: $white;
        }
        .dropdown {
            .dropdown-menu {
                background-color: $dark-bg2;
                border-color: $dark-border-color;
                .dropdown-item {
                    &:active, .active {
                        background-color: $dark-bg;
                        color: rgba($white, 0.7);
                    }
                }
            }
            .dropdown-toggle {
                i {
                    color: rgba($white, 0.8);
                }
            }
        }
        .dropdown-item {
            color: rgba($white, 0.5);
            &:hover,  &:focus {
                background-color: $dark-bg;
            }
        }
        .bg-light {
            background-color: $dark-color !important;
        }
        .modal-content {
            background-color: $dark-bg;
        }
        .shadow-cls {
            box-shadow: 3.346px 3.716px 22.5px $dark-border-color;
        }
        // single property page css
        .single-property-section {
            .single-title {
                background-color: $dark-bg2;
            }
        }
        .single-property {
            .description-section {
                .desc-box {
                    background-color: $dark-bg2;
                }
                .menu-top {
                    background-color: $dark-bg2;
                    border-bottom: 1px solid $dark-border-color;
                    li {
                        a {
                            color: rgba($white, 0.8);
                        }
                        &.active {
                            a {
                                color: var(--theme-deafult4);
                            }
                        }
                    }
                }
            }
        }
        .nav-tabs {
            border-bottom: 1px solid $dark-border-color;
            .nav-link.active, .nav-item.show .nav-link {
                background-color: transparent;
            }
        }
        .line-tab {
            &.nav-tabs {
                .nav-link {
                    color: rgba($white, 0.8);
                    &.active {
                        color: var(--theme-deafult4);
                    }
                }
            }
        }
        
        // form css
        form {
            label {
                color: rgba($white, 0.8);
            }
        }
        .form-control {
            background-color: $dark-bg2;
            border-color: $dark-border-color;
            color: rgba($white, 0.8);
            &::placeholder {
                color: rgba($white, 0.4);
            }
        }
        .login-dropdown {
            h6 {
                color: $white;
            }
            form {
                .d-flex {
                    a {
                        color: rgba($white, 0.8) !important;  
                        &:hover {
                            color: var(--theme-deafult) !important;  
                        }
                    }
                }
                > span {
                    color: rgba($white, 0.8);
                    a {
                        color: rgba($white, 0.8) !important;  
                        &:hover {
                            color: var(--theme-deafult) !important;  
                        }
                    }
                }
            }
        }
        .checkbox_animated {
            &:after {
                background: $dark-bg;
                border: 2px solid $dark-border-color;
            }
        }
        // buttons css
        .btn {
            &.btn-solid{
                &:hover  {
                    background: $dark-bg;
                }
            }
            &.btn-white {
                background: $dark-bg;
                &:hover {
                    box-shadow: 0 4px 6px 2px $dark-border-color;
                }
            }
        }
        // title css
        .title-2 {
            p {
                color: rgba($white, 0.8);
            }
        }
        .title-3 {
            p {
                color: rgba($white, 0.6);
            }
        }
        // pagination css
        .page-link {
            background-color: $dark-bg;
            border: 1px solid $dark-border-color;
        }
        // 404 page css
        .error-section {
            background-color: $dark-bg2;
        }
        // slick  slider css
        .arrow-white {
            .slick-arrow {
                box-shadow: 0px 0 35px 0px rgba($dark-bg2, 0.07);
                background-color: $dark-bg2;
            }
        }
        // header css
        .input-group-text {
            border: 1px solid $dark-border-color;
        }
        header {
            .main-navbar {
                .nav-menu {
                    > li {
                        .nav-submenu, .mega-menu-container {
                            background: $dark-bg2;
                            box-shadow: 0 1px 5px 0 rgba($dark-bg, 0.2);
                            li {
                                a {
                                    color: rgba($white, 0.8);
                                }
                                .nav-sub-childmenu {
                                    background: $dark-bg2;
                                    box-shadow: 0 0 1px 0 $dark-bg;
                                }
                            }
                        }
                        .mega-menu-container {
                            .mega-box {
                                .link-section {
                                    .submenu-content {
                                        ul {
                                            li {
                                                a {
                                                    color: rgba($white, 0.8);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .header-setting {
                .input-group {
                    input {
                        color: rgba($white, 0.8);
                        &::placeholder {
                            color: rgba($white, 0.6);
                        }
                    }
                    .input-group-prepend {
                        .input-group-text {
                            background-color: $dark-bg2;
                            color: rgba($white, 0.8);
                        }
                    }
                }
            }
            &.header-3 {
                background-color: lighten($dark-bg2, 5%);
            }
            &.header-4, &.light-header {
                background: $dark-bg;
                .menu {
                    .brand-logo {
                        img {
                            filter: brightness(0.8) invert(0.2);
                        }
                    }
                }
                .main-navbar {
                    .nav-menu {
                        > li {
                            > a {
                                color: $white;
                            }
                            .mega-menu-container {
                                .mega-box {
                                    .link-section {
                                        .submenu-title {
                                            h5  {
                                                color: $white;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.light-header {
                .menu {
                    .header-right {
                        li {
                            a {
                                color: rgba($white, 0.7);
                            }
                            .or {
                                background-color: lighten($dark-bg3, 4%);
                                color: rgba($white, 0.7); 
                            }
                        }
                    }
                }
                .toggle-nav {
                    i {
                        color: $white;
                    }
                }
            }
        }
        .animate-rdi {
            label {
                background: $dark-bg2;
                color: rgba($white, 0.8);
            }
        }
        .top-bar {
            .top-content {
                .brand-logo {
                    img {
                        filter: brightness(0.8) invert(0.2);
                    }
                }
                .top-bar-right {
                    .input-group {
                        background-color: lighten($dark-bg2, 5%);
                        input {
                            border-left: 1px solid $theme-sub-font-color;
                            border-right: 1px solid $theme-sub-font-color;
                        }
                        .input-group-text {
                            color: rgba($white, 0.8);
                        }
                    }
                }
            }
        }
        .signup-modal {
            .signup-tab {
                h4 {
                    color: $white;
                }
                .nav-tabs {
                    .nav-link {
                        border: 1px solid $dark-border-color;
                    }
                }
                form {
                    span {
                        color: rgba($white, 0.7);
                    }
                   .form-group {
                        .input-group {
                            input {
                                background-color: transparent;
                            }
                        }
                   }
                    a {
                        color: rgba($white, 0.5);
                    }
                }
            }
        }
        // login page css
        .log-in {
            h6 {
                color: $white;
            }
            form {
                .form-group {
                    .input-group {
                        input {
                            border-bottom: 1px solid $dark-border-color;
                            background: transparent;
                        }
                        .input-group-text {
                            color: rgba($white, 0.6);
                        }
                        .input-group-apend {
                            .input-group-text {
                                border-bottom: 1px solid $dark-border-color;
                            }
                        }
                    }
                    textarea {
                        border-bottom: 1px solid $dark-border-color;
                        background: transparent;
                        color: rgba($white, 0.6);
                    }
                    .important-note {
                        color: rgba($white, 0.4); 
                    }
                }
                .d-flex {
                    a {
                        color: rgba($white, 0.6);
                    }
                }
            }
            .divider {
                h6 {
                    background: $dark-bg;
                }
                &::after {
                    background-color: $dark-border-color;
                }
            }
        }
        // signup wizard css
        .property-wizard {
            .dropdown {
                border: 1px solid $dark-border-color;
                color: rgba($white, 0.4);
                .dropdown-item {
                    color: rgba($white, 0.4);
                }
                .dropdown-toggle {
                    background: $dark-bg2;
                    i {
                        color: rgba($white, 0.4); 
                    }
                }
            }
            .feature-checkbox {
                label {
                    color: rgba($white, 0.4);
                }
            }
            &.horizontal-wizard {
                .wizard-box {
                    .wizard-step-container {
                        .wizard-form-details {
                            .text-right {
                                p {
                                    color: rgba($white, 0.6);
                                }
                            }
                        }
                    }
                }
            }
            .wizard-box {
                .wizard-step-container {
                    .wizard-steps {
                        li {
                            .media {
                                .step-icon {
                                    border-right: 2px solid $dark-border-color;
                                }
                            }
                        }
                    }
                }
            }
        }
        .dropzone {
            border-color: $dark-border-color;
        }
        // sidebar & filter css
        .left-sidebar {
            .dropdown {
                border-color: $dark-border-color;
            }
        }
        .left-sidebar, .blog-sidebar {
            background: $dark-bg2;
        }
        .blog-sidebar {
            .search-bar {
                input {
                    background-color: $dark-bg;
                    color: rgba($white, 0.8);
                }
            }
        }
        .filter-bottom-content {
            background: $dark-bg2;
            box-shadow: 0 0 24px 0 rgba($dark-bg, 0.1);
        }
        .price-range  {
            label {
                color: $white;
            }
            input {
                background-color: transparent;
                color: rgba($white, 0.8);
            }
        }
        .filter-cards {
            .advance-card {
                > h6 {
                    color: $white;
                }
                .category-property {
                    ul {
                        li {
                            color: $white;
                            a {
                                color: $white;
                               &:hover, &:focus {
                                    color: var(--theme-deafult3);
                               }
                            }
                        }
                    }
                    form {
                        .input-group-text {
                            border: 1px solid $dark-border-color;
                        }
                    }
                }
                .tags {
                    ul {
                        li {
                            background-color: $dark-bg;
                            a {
                                color: rgba($white, 0.9);
                                &:hover {
                                    color: var(--theme-deafult4);
                                }
                            }
                        }
                    }
                }
                .back-btn {
                    border-bottom: 1px solid $dark-border-color;
                }
            }
        }
        .filter-panel  {
            border-bottom: 1px solid $dark-border-color;
            .grid-list-filter {
                li {
                    > a, .dropdown-toggle, .filter-bottom-title {
                        color: rgba($white, 0.9);
                        border: 1px solid $dark-border-color;
                    }
                    &.active {
                        a {
                            color: var(--theme-deafult3);
                            border-color: var(--theme-deafult3);
                        }
                    }
                }
            }
            .d-lg-none {
                .mobile-filter {
                    border: 1px solid $dark-border-color;
                    color: $white;
                }
            }
        }
        // home section css
        .home-section {
            &.layout-1 {
                .search-panel {
                    background-color: $dark-bg2;
                    .width-fit {
                        > div {
                            + div {
                                border-left: 1px solid $dark-border-color;
                            }
                        }
                    }
                }
            }
        }
        .layout-home8 {
            .home-content {
                h1, h6 {
                    color: $theme-font-color;
                }
            }
        }
        .search-with-tab {
            .nav-tabs {
                .nav-item {
                    .nav-link {
                        background: $dark-bg;
                    }
                }
            }
            .tab-content {
                background-color: $dark-bg;
                .review-form {
                    .form-control {
                        background: transparent;
                        color: $white;
                    }
                    .dropdown {
                        border-color: $dark-border-color;
                    }
                }
            }
        }
        .search-withmap {
            .left-sidebar {
                background-color: $dark-bg;
                .price-range {
                    label, input {
                        color: $white;
                    }
                }
            }
        }
        .new-property {
            .feature-content {
                background-color: $dark-bg;
            }
        }
        .vertical-search {
            .left-sidebar {
                .dropdown {
                    background-color: $dark-bg2;
                }
            }
        }
        // map modal page
        .map-modal {
            .left-sidebar {
                background: $dark-bg2;
            }
        }
        .close {
            color: rgba($white, 0.8);
        }
         // portfoilo pages css
         .portfolio-grid {
            .filter-panel {
                border-bottom: none;
            }
        }
        // property css
        .property-section {
            .property-box {
                background-color: $dark-bg2;
                .property-details {
                    .icon-property {
                        li {
                            + li {
                                &::before {
                                    background-color: $dark-border-color;
                                }
                            }
                        }
                    }
                }
            }
            .property-2 {
                .property-box {
                    .property-details {
                        > a {
                            background: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                    &:hover {
                        .property-details {
                            > a {
                                background: var(--theme-gradient6);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                        }
                    }
                }
            }
            .property-box-flat {
                .property-box {
                    .property-details {
                        p {
                            color: rgba($white, 0.6);
                        }
                    }
                }
            }
            .list-property {
                .property-box {
                    .property-image {
                        .overlay-property {
                            .overlay-box {
                                background-color: $dark-bg2;
                                h4 {
                                    color: $white;
                                }
                                p {
                                    color: rgba($white, 0.6);
                                }
                            }
                        }
                    }
                }
            }
        }
        .property-details {
            > a {
                color: $white;
            }
            ul {
                li {
                    + li {
                        border-left: 1px solid $dark-border-color;
                    }
                }
            }
        }
        // user dashboard css
        .user-dashboard {
            .sidebar-user {
                background-color: $dark-bg2;
            }
            .dashboard-content {
                .common-card {
                    background-color: $dark-bg2; 
                }
            }
            .property-overview {
                table {
                    tr {
                        td {
                            .d-flex {
                                h6 {
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
            .switch {
                .switch-state {
                    background-color: darken($dark-bg, 5%);
                }
                input {
                    &:checked {
                        + .switch-state {
                            background-color: $success-color;
                        }
                    }
                }
            }
        }
        .right-line-tab {
            border-bottom: none;
            .nav-item {
                .nav-link {
                    color: rgba($white, 0.8);
                    &.active {
                        color: var(--theme-deafult3);
                    }
                }
            }
        }
        .apexcharts-canvas {
            text {
                fill: rgba($white, 0.7);
            }
        }
        .apexcharts-tooltip {
            &.light {
                border: 1px solid $dark-border-color;
                background: $dark-bg;
                .apexcharts-tooltip-title {
                    background: $dark-bg2;
                    border-bottom: 1px solid $dark-border-color;
                }
            }
        }
        #overviewchart {
            svg {
                linearGradient {
                    stop[stop-opacity="0.4"] {
                        stop-color:$dark-bg2;
                    }
                }
            }
        }
        .modal-header {
            border-bottom: 1px solid $dark-border-color;
        }
        .modal-footer {
            border-top: 1px solid $dark-border-color;
        }
        .card-payment {
            .payment-card {
                &.add-card {
                    background-color: $dark-bg;
                    background-image: unset;
                }
            }
        }
        .edit-profile-modal {
            form {
                .form-control {
                    color: rgba($white, 0.5);
                    &::placeholder {
                        color: rgba($white, 0.5);
                    }
                }
            }
        }
        .gj-picker-bootstrap {
            color: $theme-font-color;
        }
        .gj-datepicker-bootstrap {
            [role=right-icon] {
                button {
                    border: 1px solid $dark-border-color;
                }
            }
        }
        // feature css
        .feature-section {
            .feature-content {
                box-shadow: $dark-bg2 0px 0px 75px;
                background-color: $dark-bg3;
                .details, .feature-price {
                    h3, >span {
                        color: $white;
                    }
                    p {
                        color: rgba($white, 0.7);
                    }
                }
                .detail-list {
                    border-top: 1px solid $dark-border-color;
                    border-bottom: 1px solid $dark-border-color;         
                    li {
                        .d-flex {
                            h6 {
                                color: rgba($white, 0.7);
                            }
                        }
                    }
                }
                .feature-price {
                    li {
                        h6 {
                            color: rgba($white, 0.7);
                        }
                    }
                }
            }
            .feature-1 {
                .feature-wrapper {
                    .property-details {
                        box-shadow: 6.691px 7.431px 12.5px rgba($dark-bg2, 0.07);
                        background-color: $dark-bg;
                    }
                }
            }
            .modern-feature {
                .feature-wrap {
                    .feature-content {
                        background-color: transparent;
                    }
                }
            }
            &.bg-half {
                &::before {
                    background-color: $dark-bg2;
                }
            }
        }
        // service section css
        .service-section {
            .property-service {
                > div {
                    .service-box {
                        background-color: $dark-bg2;
                        box-shadow: 3px 3px 22px rgba($dark-border-color, 0.07);
                        p {
                            color: rgba($white, 0.7);
                        }
                    }
                }
            }
            &.service-2 {
                .property-service {
                    > div {
                        .service-box {
                            h3 {
                                color: $white;
                            }
                        }
                    }
                }
            }
            &.service-bg {
                &::after {
                    background-color: $dark-bg2;
                }
            }
        }
        .service-slider {
            .service-wrapper {
                .service-details {
                    background-color: $dark-bg;
                    box-shadow: $dark-bg3 0px 0px 35px;
                    h3 {
                        color: $white;
                    }
                    p {
                        color: rgba($white, 0.6);
                    }
                }
            }
        }
        // about section css
        .about-section {
            .about-wrap {
                .about-content {
                    .our-details {
                        background-color: $dark-bg2;
                    }
                }
                &.about-2 {
                    .about-content {
                        .our-details {
                            p {
                                color: rgba($white, 0.6);
                            }
                        }
                    }
                }
            }
        }
        .about-box {
            .agent-image {
                .overlay-agent {
                    .agent-details {
                        background-color: $dark-bg;
                        h5 {
                            color: $white;
                        }
                        p {
                            color: rgba($white, 0.7);
                        }
                        > span {
                            color: rgba($white, 0.9);
                        }
                        ul {
                            li {
                                a {
                                    box-shadow: 0 0 20px 0 $dark-border-color;
                                }
                            }
                        }
                    }
                }
            }
        }
        // banner section css
        .banner-2 {
            background-color: $dark-bg;
            .banner-right {
                h6, p {
                    color: rgba($white, 0.8);
                }
            }
        }
        .banner-3 {
            h2 {
                color: $theme-font-color;
            }
        }
        // testimonial css
        .testimonial-1 {
            .pepole-comment {
                .client-msg {
                    background: $dark-bg2;
                    p {
                        color: rgba($white, 0.7);
                    }
                    &::before {
                        border-top: 14px solid $dark-bg2;
                    }
                }
            }
        }
        .our-client {
            box-shadow: $dark-bg2 0px 0px 75px;
            background: lighten($dark-bg2, 2%);
            .client-right {
                p {
                    color: rgba($white, 0.7);
                }
                h3  {
                    color: $white;
                }
            }
            .quote-img {
                img {
                    filter: brightness(0.5) invert(0.5);
                }
            }
        }
        .modern-client {
            .square-box {
                background-color: $dark-bg2;
            }
            .comment-right {
                background: $dark-bg2;
                box-shadow: $dark-bg2 -2.575px 4.286px 25px;
                h6 {
                    color: $white;
                }
                p {
                    color: rgba($white, 0.7);
                }
            }
        }
        // about us css
        .user-about {
            .about-listing {
                box-shadow: 3.346px 3.716px 22.5px $dark-border-color;
            }
            .map-image {
                background-color: rgba($dark-bg, 0.9);
            }
        }
        .effect-cls {
            &:after {
                filter: brightness(0.9) invert(1);
            }
        }
        // blog css
        .blog-1 {
            .blog-box {
                .blog-content {
                    background-color: $dark-bg2;
                    span {
                        color: rgba($white, 0.8);
                    }
                    p {
                        color: rgba($white, 0.7);
                    }
                }
            }
        }
        .blog-wrap {
            box-shadow: 0px 10px 30px $dark-bg2;
            background-color: lighten($dark-bg2, 2%);
            .blog-details {
                span, h5, a {
                    color: rgba($white, 0.7);
                }
                p {
                    color: rgba($white, 0.5);
                }
            }
            &:hover {
                .blog-details {
                    a {
                        color: var(--theme-deafult5);
                    }
                }
            }
        }
        // blog pages css
        .blog-single-detail {
            .blog-title {
                .post-detail {
                    li {
                        + li {
                            border-left: 1px solid $dark-border-color;
                        }
                    }
                }
            }
            .comment-section {
                .comment-box {
                    .media {
                        .media-body {
                            .comment-title {
                                border-bottom: 1px solid $dark-border-color;
                                .comment-user, .comment-date {
                                    h6 {
                                        color: rgba($white, 0.6);
                                    }
                                    i {
                                        color: rgba($white, 0.5);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        // pricing css
        .pricing-section {
            .pricing-box {
                box-shadow: $dark-bg2 0px 0px 27px;
                background-color: $dark-bg2;
                h4, h3 {
                    color: $white;
                }
                .pricing-details {
                    p {
                        color: rgba($white, 0.8);
                    }
                }
                 ul {
                    li {
                        color: rgba($white, 0.5);
                    }
                 }
                .price {
                    .light-text {
                        color: rgba($white, 0.6);
                    }
                }
            }
        }
        // video css
        .video-details {
            background-color: $dark-bg;
            p {
                color: rgba($white, 0.7);
            }
        }
        // brand section css
        .logo-box {
            img {
                filter: brightness(0.8) invert(0.2);
            }
        }
        .bg-light-blue {
            background-color: $dark-bg2;
        }
        .slide-3 {
            .logo-box {
                img {
                    filter: brightness(0.8) invert(0.4);
                }
            }
        }
        // contact page css
        .contact_section {
            .contact_wrap {
                box-shadow: 3.346px 3.716px 22.5px $dark-bg2;
                background: $dark-bg2;
            }
        }
        .captcha {
            background-color: $dark-bg2;
            border-color: $dark-border-color;
            color: rgba($white, 0.8);
            input[type="checkbox"] {
                + .checkmark {
                    background: $dark-bg2;
                    border-color: $dark-border-color;
                }
            }
            .logo {
                p, small {
                    color: rgba($white, 0.4); 
                }
            }
        }
        .download-section {
            .app-right {
                .form-group {
                    select {
                        background: $dark-bg;
                        border-color: $dark-border-color;
                        color: $white;
                    }
                    input {
                        background: $dark-bg;
                    }
                }
            }
        }
        // faq css
        .card {
            background-color: $dark-bg;
            box-shadow: 3.346px 3.716px 22.5px $dark-border-color;
        }
        .card-header {
            background-color: $dark-bg2;
        }
        .accordion {
            .card-header {
                .card-link {
                    color: rgba($white, 0.8);
                    &::after {
                        color: rgba($white, 0.8);
                    }
                }
            }
            .card-body {
                border-top: 1px solid $dark-border-color;
            }
        }
        // footer css
        footer {
            &.footer-dark {
                background: $dark-bg2;
            }
            .sub-footer {
                &.sub-footer-dark {
                    background-color: $dark-bg;
                }
            }
            &.footer-light {
                .footer-details {
                    .footer-contact {
                        ul {
                            li {
                                color: $white;
                            }
                        }
                    }
                    p {
                        color: rgba($white, 0.6);
                    }
                }
                .footer-content {
                    > img {
                        filter: brightness(0.8) invert(0.2);
                    }
                }
                .footer-links {
                    h5 {
                        color: $white;
                    }
                    .footer-content {
                        li {
                            a {
                                color: rgba($white, 0.6);
                            }
                        }
                    }
                }
                .sub-footer {
                    &.sub-footer-dark {
                        background-color: $dark-bg2;
                    }
                }
            }
        }
        // responsive css
        @media (max-width: 1199px) {
            // header css
            header {
                .main-navbar {
                    .nav-menu {
                        background-color: $dark-bg2;
                        border: 1px solid $dark-border-color;
                        .back-btn {
                            .mobile-back {
                                color: rgba($white, 0.8);
                                border-bottom: 1px solid $dark-border-color;
                            }
                        }
                        > li {
                            a {
                                color: rgba($white, 0.8);
                            }
                            .nav-link {
                                &.active {
                                    color: $white;
                                }
                            }
                        }
                    }
                }
                &.header-4 {
                    .menu {
                        .toggle-nav {
                            i {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 991px) {
            .feature-section {
                &.bg-half {
                    background: $dark-bg2;
                }
            }
            // document css
            .navbar-collapse {
                background-color: $dark-bg3;
            }
            .menu .nav-item, .navbar_fixed.menu_one .menu .nav-item {
                border-bottom-color: $dark-border-color;
            }
            .navbar {
                .nav-right {
                    .toggle-sidebar {
                        color: rgba($white, 0.8);
                    }
                }
            }
            .document-main {
                .left-sidebar {
                    background-color: $brown-color !important;
                }
            }
        }
        @media (max-width: 767px) {
            // banner css
            .banner-2 {
                .banner-right {
                    background-color: rgba($dark-bg, 0.95);
                }
            }
        }
        @media (max-width: 576px) {
            header {
                &.light-header {
                    .menu {
                        .header-right {
                            li {
                                .or {
                                    &:after {
                                        color: rgba($white, 0.8);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 575px) {
            .top-right-toggle {
                svg {
                    color: $white;
                }
            }
            .top-bar {
                .top-content {
                    .top-bar-right {
                        background: $dark-bg2;
                    }
                }
            }
            header {
                &.header-4 {
                    .menu {
                        .header-right {
                            background: $dark-bg2;
                        }
                    }
                }
            }
            // feature css
            .feature-section {
                .feature-content {
                    background-color: $dark-bg;
                }
            }
        }
        // document css
        .change-log-content {
            .log-version-info {
                .log-line {
                    background: $dark-border-color;
                }
            }
        }
        .navbar {
            background: $brown-color;
            border-bottom: 1px solid $dark-border-color;
            .collapse {
                border-right-color: $dark-border-color;
            }
        }
        .nav-sidebar {
            > .nav-item {
                .title {
                    background-color: $dark-bg3;
                    color: rgba($white, 0.8);
                }
            }
        }
        .nav-link {
            color: rgba($white, 0.8);
            &.active {
                color: var(--theme-deafult7);
            }
        }
        .quick-links {
            h5 {
                background-color: $dark-bg3;
            }
        }
        .direct {
            .nav-link {
                background-color: $dark-bg3;
                color: rgba($white, 0.8);
            }
        }
        .parent-title {
            background-color: $dark-bg3;
            color: rgba($white, 0.8);
        }
        .menu {
            > .nav-item {
                > .nav-link {
                    color: rgba($white, 0.8);
                }
                &.active, &:hover {
                    .nav-link {
                        color: var(--theme-deafult7);
                    }
                }
            }
        }
        .main-title {
            color: $white;
        }
        h1, h2, h3, h4, h5, h6 {
            color: rgba($white, 0.9);
        }
        .document-main {
            .left-sidebar {
                background-color: transparent;
            }
            .card {
                background-color: $brown-color;
                box-shadow: rgba($dark-bg2, 0.05) 0px 0px 37px;
            }
            .table {
                color: rgba($white, 0.8);
                th, td {
                    border-top-color: $dark-border-color;
                }
            }
            .nav-tabs {
                .nav-link.active, .nav-item.show .nav-link {
                    color: rgba($white, 0.9);
                    border-color: $dark-border-color $dark-border-color $dark-bg2;
                }
                .nav-link {
                    &:hover, &:focus {
                        border-color: $dark-border-color $dark-border-color $dark-bg2;
                    }
                }
            }
            pre[class*=language-] {
                background: $dark-bg;
                border-color: $dark-border-color;
            }
            code[class*=language-] {
                text-shadow: 0 1px $dark-bg2;
                color: rgba($white, 0.8);
            }
            .code-box-copy__btn {
                background-color: $dark-bg2;
                color: rgba($white, 0.8);
                border-color: $dark-border-color;
                &:hover {
                    background-color: $dark-bg;
                }
            }
            .language-css, .style {
                .token {
                    &.string {
                        background-color: rgba($dark-bg,0.5);
                    }
                }
            }
            .token {
                &.entity, &.operator, &.url {
                    background: rgba($dark-bg,0.5);
                }
            }
            .infoBox {
                .marker-detail, h6 {
                    color: $theme-font-color;
                }
            }
        }
        .component-doc {
            .blog-1 {
                .blog-box {
                    background-color: $dark-bg;
                    .blog-content {
                        background-color: $dark-bg;
                    }
                }
            }
            .about-section {
                .about-wrap {
                    .about-content {
                        .our-details {
                            background-color: $dark-bg;
                        }
                    }
                }
            }
            .service-section {
                .property-service {
                    > div {
                        .service-box {
                            background-color: $dark-bg;
                        }
                    }
                }
            }
            .property-section {
                .property-box {
                    background-color: $dark-bg;
                }
            }
        }
        .main-table-sec {
            .table-wrapper {
                .table-scroll {
                    table {
                        tr {
                            &:first-child {
                                border-bottom-color: $dark-border-color;
                                span {
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }
        .page-footer {
            .page-changes-summary {
                border-top-color: $dark-border-color;
            }
        }
        .navbar-toggler {
            i {
                color: rgba($white, 0.8);
            }
        }
    }
}
/**=====================
     dark layout css end
==========================**/