/**=====================
     Header css start
==========================**/
header {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba($black, 0.3);
  &.header-1 {
    background-color: unset;
  }
  &.header-2 {
    background-color: rgba($black, 0.4);
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: lighten($black, 12%);
      bottom: 91px;
      left: 0;
    }
    .main-navbar {
      .nav-menu {
        > li {
          .nav-submenu {
            li {
              a {
                &:hover {
                  color: var(--theme-deafult4) !important;
                }
              }
            }
          }
          .mega-menu-container {
            .mega-box {
              .link-section {
                .submenu-content {
                  ul {
                    li {
                      a {
                        &:hover {
                          color: var(--theme-deafult4) !important;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &.inner-page {
    .main-navbar {
      .nav-menu {
        > li {
          .nav-submenu {
            li {
              a {
                &:hover {
                  color: var(--theme-deafult4) !important;
                }
              }
            }
          }
          .mega-menu-container {
            .mega-box {
              .link-section {
                .submenu-content {
                  ul {
                    li {
                      a {
                        &:hover {
                          color: var(--theme-deafult4) !important;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &.header-3 {
    position: relative;
    background-color: $title-color;
    z-index: unset;
    .main-navbar {
      text-align: left;
      .nav-menu {
        > li {
          padding: 12px 0;
          a {
            border-radius: 0;
          }
          &.active {
            a {
              background-color: var(--theme-deafult5) !important;
            }
          }
          .nav-submenu {
            li {
              a {
                &:hover {
                  color: var(--theme-deafult5) !important;
                }
              }
            }
          }
          .mega-menu-container {
            .mega-box {
              .link-section {
                .submenu-content {
                  ul {
                    li {
                      a {
                        &:hover {
                          color: var(--theme-deafult5) !important;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &.header-4,
  &.light-header {
    position: relative;
    background-color: $white;
    .main-navbar {
      .nav-menu {
        > li {
          > a {
            color: $title-color;
            position: relative;
            &::before {
              position: absolute;
              content: "";
              background-color: rgba($theme-color7, 0.1);
              width: 45px;
              height: 40px;
              border-radius: 5px;
              opacity: 0;
              transition: 0.5s;
              left: 0;
              top: -5px;
            }
          }
          &.active {
            > a {
              color: var(--theme-deafult7) !important;
              &::before {
                opacity: 1;
                transition: 0.5s;
              }
            }
          }
          .nav-submenu {
            li {
              a {
                color: $title-color;
                &:hover {
                  color: var(--theme-deafult7) !important;
                }
              }
            }
          }
          .mega-menu-container {
            .mega-box {
              .link-section {
                .submenu-title {
                  h5 {
                    color: $title-color;
                  }
                }
                .submenu-content {
                  ul {
                    li {
                      a {
                        color: $title-color;
                        &:hover {
                          color: var(--theme-deafult7) !important;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .menu {
      .brand-logo {
        margin-left: 0;
      }
      .header-right {
        position: relative;
        z-index: 1;
        li {
          a {
            color: $title-color;
          }
        }
      }
    }
  }
  &.light-header {
    .menu {
      .header-right {
        li {
          .or {
            background-color: rgba($black, 0.1);
            color: $theme-font-color;
          }
        }
      }
    }
    .toggle-nav {
      i {
        color: $theme-font-color;
      }
    }
  }
  &.header-4 {
    .menu {
      .header-right {
        li {
          > a {
            padding: 11px;
            position: relative;
            &::after {
              @extend %common-lightafter;
              background-color: var(--theme-deafult7);
              opacity: 0.1;
              border-radius: 5px;
            }
            svg {
              color: var(--theme-deafult7);
              vertical-align: top;
              margin-right: 0;
            }
          }
          .search-box {
            i {
              padding: 12px;
              border-radius: 5px;
              transition: 0.5s;
              background-image: var(--theme-gradient9);
              color: $white;
              cursor: pointer;
            }
            span {
              color: var(--theme-deafult7);
              font-weight: 500;
              margin-left: 15px;
              display: inline-block;
            }
            .form-control {
              position: absolute;
              border: none;
              height: 100%;
              width: 14%;
              transition: width 0.5s;
              padding-left: 20px;
              font-weight: 500;
              font-size: 14px;
              color: var(--theme-deafult7);
              font-family: $font_1, $font_3;
              border-radius: 0 5px 5px 0;
              top: 0;
              left: 38px;
              z-index: -1;
              &::placeholder {
                color: var(--theme-deafult7);
                opacity: 0;
                transition: width 0.5s;
                font-weight: 500;
              }
            }
            &::after {
              @extend %common-lightafter;
              background-color: var(--theme-deafult7);
              transition: width 0.5s;
              opacity: 0.1;
              border-radius: 0 5px 5px 0;
              left: 40px;
              width: 14%;
              z-index: 1;
            }
            &.open {
              i {
                border-radius: 5px 0 0 5px;
                transition: 0.5s;
              }
              span {
                opacity: 0;
                transition: 0.1s;
              }
              &::after {
                width: calc(100% - 38px);
                transition: width 0.5s;
              }
              .form-control {
                width: calc(100% - 38px);
                transition: width 0.5s;
                z-index: 1;
                &::placeholder {
                  opacity: 1;
                  transition: width 0.5s;
                }
              }
            }
          }
          + li {
            margin-left: 20px;
          }
        }
      }
    }
    &.fixed {
      box-shadow: $common-box-shadow;
    }
    &.top-bar {
      .top-content {
        .top-bar-right {
          width: auto;
          li {
            .flat-box {
              background: var(--theme-deafult3);
            }
            + li {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
  &.header-3,
  &.header-4 {
    .main-navbar {
      .nav-menu {
        > li {
          > a {
            font-family: $font_1, $font_3;
            text-transform: capitalize;
          }
          .nav-submenu {
            li {
              a {
                font-family: $font_1, $font_3;
                font-weight: 400;
              }
            }
          }
          .mega-menu-container {
            .mega-box {
              .link-section {
                .submenu-title {
                  h5 {
                    font-family: $font_1, $font_3;
                    font-weight: 600;
                  }
                }
                .submenu-content {
                  ul {
                    li {
                      a {
                        font-family: $font_1, $font_3;
                        font-weight: 400;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &.header-6 {
    .main-navbar {
      .nav-menu {
        > li {
          .nav-submenu {
            li {
              a {
                &:hover {
                  color: var(--theme-deafult9) !important;
                }
              }
            }
          }
          .mega-menu-container {
            .mega-box {
              .link-section {
                .submenu-content {
                  ul {
                    li {
                      a {
                        &:hover {
                          color: var(--theme-deafult9) !important;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &.header-7 {
    .main-navbar {
      .nav-menu {
        > li {
          .nav-submenu {
            li {
              a {
                &:hover {
                  color: var(--theme-deafult10) !important;
                }
              }
            }
          }
          .mega-menu-container {
            .mega-box {
              .link-section {
                .submenu-content {
                  ul {
                    li {
                      a {
                        &:hover {
                          color: var(--theme-deafult10) !important;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &.header-relative {
    position: relative;
    background-color: $theme-font-color;
  }
  .main-navbar {
    text-align: center;
    .nav-menu {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0;
      line-height: normal;
      direction: ltr;
      text-align: left;
      vertical-align: middle;
      > li {
        position: relative;
        float: left;
        display: block;
        margin-right: 5px;
        padding-top: 30px;
        padding-bottom: 30px;
        > a {
          display: block;
          color: white;
          font-size: 14px;
          font-family: $font_2, $font_3;
          font-weight: 500;
          text-decoration: none;
          text-transform: uppercase;
          padding: 7px 18px 5px;
          position: relative;
          border-radius: 15px;
        }
        &.active {
          > a {
            background-color: rgba($white, 0.1);
          }
        }
        .nav-submenu {
          position: absolute;
          left: 0;
          z-index: 4;
          box-shadow: 0 1px 5px 0 rgba(90, 90, 90, 0.2);
          padding: 15px 0 15px 0;
          background: white;
          li {
            border: 0;
            float: none;
            position: relative;
            display: block;
            a {
              border: 0 !important;
              background: transparent;
              color: $black;
              border-radius: 0 !important;
              font-size: 14px;
              font-weight: 500;
              text-transform: capitalize;
              padding: 2px 25px;
              display: block;
              letter-spacing: 0.07em;
              line-height: 1.9;
              transition: all 0.5s ease;
              position: relative;
              &:after {
                position: absolute;
                content: "\f105";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                right: 18px;
                opacity: 0;
              }
              &.arrow-cls {
                &:after {
                  opacity: 0.8;
                }
              }
              &:hover {
                margin-left: 3px;
                color: var(--theme-deafult) !important;
              }
            }
            .nav-sub-childmenu {
              position: absolute;
              width: 200px;
              right: -200px;
              top: 0;
              background: $white;
              border: none;
              padding: 15px 0 15px 0;
              box-shadow: 0 0 1px 0 #ebebeb;
            }
          }
        }
        .mega-menu-container {
          position: absolute;
          left: 0;
          z-index: 4;
          box-shadow: 0 1px 5px 0 rgba(90, 90, 90, 0.2);
          padding: 30px;
          background: white;
          width: 100%;
          border-radius: 4px;
          .mega-box {
            width: 20%;
            .link-section {
              .submenu-title {
                h5 {
                  font-weight: 700;
                  text-transform: capitalize;
                  font-size: 14px;
                }
              }
              .submenu-content {
                box-shadow: none;
                background-color: transparent;
                position: relative;
                display: block;
                padding: 0;
                ul {
                  li {
                    border: 0;
                    float: none;
                    position: relative;
                    display: block;
                    a {
                      border: 0 !important;
                      background: transparent;
                      color: $black;
                      border-radius: 0 !important;
                      font-size: 14px;
                      font-weight: 500;
                      text-transform: capitalize;
                      padding: 3px 0;
                      display: block;
                      letter-spacing: 0.07em;
                      line-height: 1.9;
                      position: relative;
                      &:hover {
                        margin-left: 4px;
                        color: var(--theme-deafult) !important;
                      }
                    }
                    &.highlight-link {
                      position: relative;
                      i {
                        color: var(--theme-deafult);
                      }
                    }
                  }
                }
              }
              + .link-section {
                margin-top: 15px;
              }
            }
          }
        }
        &:hover {
          > a {
            &:after {
              left: 0;
              right: 0;
              opacity: 1;
            }
          }
        }
        &.mega-menu {
          position: unset;
        }
      }
    }
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .brand-logo {
      margin-left: -26px;
      img {
        width: 88%;
        margin-bottom: -8px;
      }
    }
    .header-right {
      li {
        a {
          color: $white;
          font-size: 13px;
          svg {
            vertical-align: bottom;
            width: 18px;
            margin-right: 5px;
          }
        }
        .or {
          padding: 4px 12px;
          border-radius: 20px;
          background-color: rgba($white, 0.1);
          margin: 0 5px;
          font-size: 13px;
          color: $white;
        }
        &.font-rubik {
          .or { 
            padding: 5px 12px 4px;
          }
        }
      }
      .dropdown {
        .dropdown-menu {
          margin-top: 20px;
        }
      }
    }
  }
  .header-setting {
    padding: 20px 0;
    .input-group {
      .input-group-prepend {
        .input-group-text {
          background-color: $white;
          padding: 8px 30px;
          font-size: 14px;
          color: $theme-sub-font-color;
          font-family: $font_1, $font_3;
          font-weight: 400;
          i {
            font-size: 10px;
            margin-left: 10px;
            margin-top: 5px;
          }
        }
      }
      input {
        padding: 14px 30px;
        font-size: 14px;
        color: $theme-sub-font-color;
        font-family: $font_1, $font_3;
        font-weight: normal;
        &::placeholder {
          color: $theme-sub-font-color;
          font-weight: 300;
        }
      }
      .input-group-append {
        .input-group-text {
          background-image: var(--theme-gradient7);
          border: none;
          color: $white;
          font-weight: 600;
          font-size: 14px;
          padding: 8px 40px;
        }
      }
    }
    .setting-icon {
      > div {
        width: 50px;
        height: 50px;
        border-radius: 5px !important;
        background-image: var(--theme-gradient7);
        margin-top: 2px;
      }
    }
    .filter-bottom-content {
      top: 8px;
      margin-left: 15px;
      width: auto;
      left: unset;
      right: 28px;
    }
  }
  &.fixed {
    position: fixed;
  }
}
.sm-input {
  position: absolute;
  top: 50px;
  width: 200px;
  left: 15px;
  transform: translateY(-20px) scaleY(0);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  &.open {
    opacity: 1;
    transform: translateY(0px) scaleY(1);
    visibility: visible;
    transition: 0.5s;
  }
}
.toggle-nav {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  i {
    font-size: 20px;
    color: white;
  }
}
.mega-box {
  .link-section {
    .demo {
      ul {
        li {
          a {
            position: relative;
            &:hover,
            &:focus {
              padding-top: 3px;
              padding-bottom: 3px;
            }
          }
        }
      }
    }
  }
}
.top-bar {
  .top-content {
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
    .top-bar-right {
      width: 80%;
      .input-group {
        background-color: rgba($title-color, 0.04);
        input,
        .input-group-text {
          background-color: transparent;
          border: none;
          font-size: 14px;
          padding: 0 20px;
          margin: 10px 0;
        }
        input {
          border-left: 1px solid lighten($title-color, 70%);
          border-right: 1px solid lighten($title-color, 70%);
          &::placeholder {
            font-weight: 300;
          }
        }
        .input-group-prepend {
          margin-right: 0;
        }
        .input-group-append {
          margin-left: 0;
        }
        .input-group-text {
          color: $title-color;
          font-weight: 500;
          .fa-angle-down {
            font-size: 10px;
            margin-left: 5px;
            margin-top: 5px;
          }
          .fa-search {
            font-size: 12px;
          }
        }
      }
      li {
        &:first-child {
          width: 75%;
        }
        + li {
          margin-left: 30px;
        }
        .flat-box {
          font-size: 14px;
          padding: 9px 15px 10px;
          background: var(--theme-deafult5);
          color: $white;
          &.color-7 {
            background: var(--theme-deafult10);
          }
          i {
            margin-right: 5px;
          }
          > span {
            font-weight: 500;
          }
          &:after {
            display: none;
          }
        }
        > .dropdown {
          .flat-box {
            padding-top: 10px;
          }
          .dropdown-menu {
            right: 0;
            left: unset !important;
          }
        }
      }
    }
    .sm-input {
      left: unset;
      top: 75px;
      z-index: 2;
    }
  }
  &.top-bar-7 {
    .top-bar-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      li {
        > a {
          padding: 11px;
          position: relative;
          background-color: var(--theme-deafult10);
          svg {
            color: $white;
            vertical-align: top;
            width: 18px;
          }
        }
      }
      li {
        + li {
          margin-left: 20px;
        }
      }
    }
  }
}
header,
.top-bar {
  .dropdown {
    .dropdown-toggle {
      &:after {
        display: none;
      }
    }
    .dropdown-menu {
      box-shadow: 0px 14px 34px rgba($black, 0.1);
      border: 1px solid $light-border;
      border-radius: 4px;
      .dropdown-item {
        font-family: $font_1, $font_3;
      }
    }
    &.input-group-text {
      .dropdown-menu {
        margin-top: 20px;
      }
    }
  }
}
.header-layout-3 {
  @extend %flex-center;
  justify-content: space-between;
  .contact-number {
    color: $white;
    i {
      padding: 10px;
      background: var(--theme-deafult5);
      font-size: 12px;
      margin-right: 10px;
    }
    &.color-7 {
      i {
        background: var(--theme-deafult10);
      }
    }
    span {
      font-weight: 500;
    }
  }
}
.login-dropdown {
  width: 350px !important;
  padding: 20px;
  left: unset !important;
  right: -60px !important;
  h6 {
    margin-bottom: 20px;
    position: relative;
    font-weight: 600;
    &::before {
      @extend %comman-before-line;
      background: var(--theme-deafult2);
    }
    &.color-6 {
      &::before {
        background: var(--theme-deafult9);
      }
    }
  }
  form {
    .d-flex {
      justify-content: space-between;
      align-items: center;
      a {
        color: $theme-font-color !important;
        &:hover,
        &:active,
        &:focus {
          color: var(--theme-deafult) !important;
        }
        &.color-6 {
          &:hover,
          &:active,
          &:focus {
            color: var(--theme-deafult8) !important;
          }
        }
      }
    }
    > span {
      font-size: 13px;
      a {
        color: $theme-font-color !important;
        &:hover,
        &:active,
        &:focus {
          color: var(--theme-deafult) !important;
        }
        &.color-6 {
          &:hover,
          &:active,
          &:focus {
            color: var(--theme-deafult8) !important;
          }
        }
      }
    }
  }
}
// Responsive menu css start //
@media (min-width: 1200px) {
  .responsive-btn {
    display: none;
  }
  header {
    .main-navbar {
      .nav-menu {
        > li {
          .nav-submenu {
            width: 220px;
            opacity: 0;
            visibility: hidden;
            border-radius: 5px;
            transition: all 0.5s ease;
            a {
              .sub-arrow {
                position: absolute;
                right: 20px;
                top: 7px;
                color: rgba(0, 0, 0, 0.75);
                font-size: 10px;
                transition: all 0.5s ease;
              }
            }
            li {
              .level1 {
                display: none;
                border-radius: 4px;
                li {
                  .level2 {
                    display: none;
                    border-radius: 4px;
                    li {
                      .level3 {
                        display: none;
                      }
                      &:hover {
                        .level3 {
                          display: block;
                        }
                      }
                    }
                  }
                  &:hover {
                    .level2 {
                      display: block;
                    }
                  }
                }
              }
              &:hover {
                .level1 {
                  display: block;
                }
              }
              a {
                &:hover {
                  .sub-arrow {
                    right: 16px;
                    color: $black;
                    transition: all 0.5s ease;
                  }
                }
              }
            }
          }
          .mega-menu-container {
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease;
          }
          &:hover {
            .nav-submenu {
              opacity: 1;
              visibility: visible;
              margin-top: 15px;
              transition: all 0.5s ease;
            }
            .mega-menu-container {
              opacity: 1;
              visibility: visible;
              margin-top: 15px;
              transition: all 0.5s ease;
            }
          }
        }
      }
    }
    &.header-3 {
      .main-navbar {
        .nav-menu {
          > li {
            &:hover {
              .mega-menu-container {
                margin-top: 13px;
              }
            }
          }
        }
      }
    }
  }
  .toggle-nav {
    display: none;
  }
  .mobile-back {
    display: none !important;
  }
}
@media (max-width: 1460px) {
  header {
    .main-navbar {
      .nav-menu {
        > li {
          margin-right: 8px;
        }
      }
    }
  }
}
@media (max-width: 1199px) {
  header {
    .main-navbar {
      .nav-menu {
        position: fixed;
        background-color: $white;
        width: 300px;
        border-radius: 0;
        border: 1px solid $light-border;
        top: 0;
        height: 100vh;
        right: -300px;
        z-index: 99;
        transition: all 0.3s ease;
        overflow: scroll;
        &.opennav {
          right: 0;
        }
        .back-btn {
          display: block;
          width: 100%;
          padding: 0;
          .mobile-back {
            padding: 20px;
            font-size: 18px;
            color: $black;
            font-weight: 600;
            text-transform: uppercase;
            border-bottom: 1px solid $light-gray;
            cursor: pointer;
            display: flex;
            justify-content: flex-end;
            align-items: center;
          }
        }
        > li {
          display: block;
          float: none;
          width: 100%;
          padding: 0;
          a {
            padding: 10px 15px;
            font-weight: 500;
            position: relative;
            color: $black;
            .sub-arrow {
              right: 20px;
              position: absolute;
              &:before {
                content: "+";
                font-family: inherit;
                position: relative;
              }
            }
          }
          > ul {
            li {
              a {
                .according-menu {
                  top: 2px;
                }
              }
              ul {
                li {
                  a {
                    .according-menu {
                      top: 1px;
                    }
                  }
                }
              }
            }
          }
          .nav-submenu {
            width: 100%;
            padding: 0;
            position: relative;
            display: none;
            box-shadow: none;
            &.opensubmenu {
              display: block;
            }
            li {
              .nav-sub-childmenu {
                display: none;
                position: relative;
                right: 0;
                width: 100%;
                padding: 0;
                box-shadow: none;
                &.submenu-content {
                  &.level2 {
                    li {
                      a {
                        padding: 0 60px;
                      }
                    }
                    .level3 {
                      li {
                        a {
                          padding: 0 70px;
                        }
                      }
                    }
                  }
                }
                &.opensubchild {
                  display: block;
                }
                li {
                  a {
                    padding: 0 45px;
                  }
                }
              }
              a {
                &:after {
                  display: none;
                }
                &:hover {
                  margin-left: 0;
                  &:after {
                    display: none;
                  }
                }
              }
            }
          }
          .mega-menu-container {
            display: none;
            padding: 0;
            position: relative;
            box-shadow: none;
            &.opensubmenu {
              display: block;
            }
            .mega-box {
              width: 100%;
              padding: 0;
              .link-section {
                .submenu-title {
                  position: relative;
                  h5 {
                    margin-bottom: 0;
                    font-weight: 500 !important;
                    line-height: 1.9;
                    padding: 2px 25px;
                  }
                  .according-menu {
                    top: 4px;
                  }
                }
                .submenu-content {
                  display: none;
                  &.opensubmegamenu {
                    display: block;
                    padding: 0 45px;
                  }
                  ul {
                    li {
                      a {
                        line-height: 1.9;
                        &:hover {
                          margin-left: 0;
                          &:after {
                            display: none;
                          }
                        }
                      }
                    }
                  }
                }
                + .link-section {
                  margin-top: 0;
                }
              }
            }
          }
          .nav-link {
            &.active {
              background-color: transparent;
              box-shadow: none;
              color: $black;
              transition: all 0.5s ease;
              &:hover {
                color: var(--theme-deafult) !important;
                transition: all 0.5s ease;
              }
            }
          }
        }
      }
    }
    .menu {
      nav {
        margin-left: auto;
        margin-right: 30px;
      }
    }
  }
  .mega-box {
    .link-section {
      .demo {
        ul {
          li {
            a {
              span {
                img {
                  top: 30px;
                  right: -60px;
                }
              }
            }
          }
        }
      }
    }
  }
  .mega-box {
    &.col {
      flex-basis: unset;
    }
  }
  .according-menu {
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .main-menu {
    &.border-section {
      border: none;
    }
    .menu-left {
      .main-menu-right {
        .toggle-nav {
          position: absolute;
          z-index: 2;
          right: 145px;
          top: 6px;
          .sidebar-name {
            font-size: 18px;
            padding-left: 5px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  header {
    .menu {
      .brand-logo {
        margin-left: -16px;
        img {
          width: 120px;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  header {
    .menu {
      .brand-logo {
        img {
          width: 110px;
          height: auto;
          margin-bottom: -3px;
        }
      }
      .coupon-box {
        h6 {
          padding: 3px 5px;
          font-size: 12px;
        }
      }
      nav {
        margin-right: 20px;
      }
      .header-right {
        li {
          a {
            svg {
              margin-right: 2px;
            }
          }
          .or {
            padding: 0 !important;
            font-size: 0;
            position: relative;
            &:after {
              position: absolute;
              content: "&";
              font-size: 14px;
              left: -5px;
              top: -16px;
              color: $white;
            }
          }
          &.font-rubik {
            .or  {
              &:after {
                top: -15px;
              }
            }
          }
        }
      }
    }
  }
  .toggle-nav {
    padding-top: 20px;
    padding-bottom: 20px;
    i {
      font-size: 16px;
    }
  }
}
@media (max-width: 480px) {
  header {
    .menu {
      .coupon-box {
        display: none;
      }
    }
  }
}
/**=====================
     Header css end
==========================**/
